.header {
  background: #fff;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header_left > img {
  height: 40px;
}

.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 33px;
}

.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header_middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header_option > .MuiSvgIcon-root,
.header_info > .MuiSvgIcon-root {
  color: gray;
}

.header_option:hover > .MuiSvgIcon-root {
  color: #2681f4;
}

.header_info:hover > .MuiSvgIcon-root {
  color: #fff;
}
.header_option,
.header_info {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.header_option:hover,
.header_info:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header_info:hover {
  color: #fff;
  background: #2681f4;
}
.header_option_active > .MuiSvgIcon-root {
  color: #2681f4;
}

.header_option_active {
  border-bottom: 4px solid #2681f4;
}

.header_info {
  display: flex;
  align-items: center;
}

.header_info > h4 {
  margin-left: 10px;
}

.header_right {
  display: flex;
}
